* {
    font-family: 'Roboto', sans-serif; 
}
.nav {
    background-color: dimgray;
    justify-content: space-between;
    padding: 10px;
    display: flex;
}
a {
    color: white;
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
li {
    padding: 8px;
    margin: 0px 5px 0px 5px;
}
.btn {
    width: 90px;
    background-color: turquoise;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    padding: 4px;
}